.navbar {
	background-color: #222222;
}
.midpanels {
	top: 20px;
    /*
	background: url("./../livingroom.jpg") center;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position: relative;
	bottom: 20px;
	min-height: 700px;
	*/

}

.sidebar {
	top: 200px;
	
}
.footer{
	padding-left: 5px;
}
ul.help{
	padding-right: 5px;
}
#errmsg
{
	color: #FF0000;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}